@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@600&display=swap');

.title-font {
    font-family: 'Grenze', serif;
    font-weight: 800;
}

.font {
    font-family: 'Grenze', serif;
    font-weight: 600;
}
