.postlist{
    padding: 20px;
    margin: 60px;
}

.posttext{
    text-align: center;
}

.mainheader{
    font-size: 80px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: start;
}

.loginform{
    margin-top: 100px;
}

.signupform{
    margin-left: 40px;
}

.home{
    justify-content: center;
    padding-top: 40x;
}